@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Rancho";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Rancho-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Merriweather-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Merriweather-Italic.ttf) format("truetype");
  }

  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(/fonts/Merriweather-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Merriweather";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(/fonts/SourceSans3-BoldItalic.ttf) format("truetype");
  }

  @font-face {
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/SourceSans3-Medium.ttf) format("truetype");
  }

  @font-face {
    font-family: "Source Sans 3";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/SourceSans3-MediumItalic.ttf) format("truetype");
  }

  @font-face {
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(/fonts/SourceSans3-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Source Sans 3";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(/fonts/SourceSans3-BoldItalic.ttf) format("truetype");
  }
}

@layer components {
  a {
    @apply underline decoration-dotted hover:decoration-solid text-zinc-800 hover:text-zinc-900;
  }

  h2 {
    @apply font-bold;
  }
  p {
    @apply mt-2 mb-3;
  }
}
